*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1
{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
}


p
{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.btn
{
    color: #fff;
    width: 25%;
    padding: 15px;
    transition: all 0.5s;
}
.btn:hover
{
    background-color: RGB(209, 50, 66);
    border-color: RGB(209, 50, 66);
    color: #fff;
}